@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ECECF4;
}

::-webkit-scrollbar-thumb {
  background-color: #3F4092;
  border-radius: 8px;
  border: 1px solid #ECECF4;
}

@keyframes colorShift {
  0% {
    background-color: #23226B;
    border-color: #23226B;
  }
  50% {
    background-color: #0193DC;
    border-color: #0193DC;
  }
  100% {
    background-color: #23226B;
    border-color: #23226B;
  }
}

.animate-color-shift {
  animation: colorShift 2s infinite;
}


/* ::-webkit-scrollbar-thumb:hover {
  background-color: #ECECF4;
} */
/* 
/* For Firefox */
/* html {
  scrollbar-width: thin;
  scrollbar-color: #3F4092 #f1f1f1;
} */ 

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.slick-arrow,
.slick-prev ,
.slick-next{
  display : none !important
}

